* {
    box-sizing: border-box;
    font-family: 'Quicksand', sans-serif;
}


body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    /* background-image: url(https://4.bp.blogspot.com/-UPRhDlUUo_8/Wpb8I7EqrQI/AAAAAAAAIDQ/GTga73vA8L4_C_p-tXfK63XE8huEZtMmgCLcBGAs/s1600/2400.jpg); */
}

section {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1vh;
    height: 60vh;
    width: 80vh;
    background-color: rgb(122, 155, 216);
    padding: 8px;
    /* margin: 80px; */
    z-index: 1;
}
div {
    border: 2.4px solid rgba(250, 250, 250, 0.781);
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.39);
    z-index: -1;
}

button {
    margin: 20px;
    font-size: 20px;
    padding: 10px;
    border: 1px solid grey;
    color: grey;
    border-radius: 4px;
}

h1 {
    color: black;
}


div {
background: transparent;
overflow: hidden;
transition: all .5s ease-in-out;
line-height: 0;
padding: 0 1em;
color: transparent;
animation: change-background 4s ease infinite;
z-index: 1;
}


div:target {
line-height: 1.5;
padding-top: 1em;
padding-bottom: 1em;
color: black;
}

/* KEYFRAMES */

/* .dropToken:active{
animation: slideDown linear 0.4s;
animation-iteration-count: 1;
transform-origin: 50% 50%;
}

@keyframes slideDown{
from {
    transform: translateY(-100%);
    opacity: 0;
}
to {
    transform: translateY(0);
    opacity: 1;
}
} */
.lit {
    background-color:rgba(0, 0, 139, 0.246);
  }